bin/*
**/*.o
**/.DS_Store
src/cars/node_modules/
src/cars/instances/
.vscode/
knuth/cweb/
knuth/sgb/
knuth/*.tar.gz
test/results_archive/*
test/results_tmp/*
test/.ipynb_checkpoints/*
test/samples/*
test/env/*
